---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Agustín Llanán" description="About Agustín Llanán">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thanks for stopping by. Read more to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
              I'm a proactive software developer with a passion for what I do and a strong background in the corporate world. My primary focus is on leadership, driving teams towards excellence, and delivering high-quality products that exceed expectations.
					</p>
					<p>
              Throughout my career, I've had the privilege of working in high-performance corporate environments, leading challenging projects, and collaborating closely with multidisciplinary teams. This experience has instilled in me a deep understanding of efficiency, strategic planning, and on-time delivery in the business world.
					</p>
					<p>
              I'm a firm believer in continuous improvement and the relentless pursuit of best practices. I dedicate time to studying the latest trends and technologies in software development to ensure that my solutions are efficient, secure, and of top-notch quality. My enthusiasm for learning and innovation drives me to overcome challenges and bring creative solutions to the projects I undertake.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>React.js, Next.js, Astro, Tailwind CSS, Node.js, Express.js, MongoDB, GraphQL, and more</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
